@import "tailwindcss";

@theme {
  /* Ang mga kulay na ito ang magpapatugma sa design mo */
  --color-ella-dark: #222222;
  --color-ella-gray: #D9D9D9;
  --font-sans: 'Inter', 'system-ui', 'sans-serif';
}

@layer base {
  body {
    /* Sinisiguro nito na hindi mag-overflow ang layout */
    @apply m-0 p-0 antialiased;
  }
}